# 4k gitignore file

# emme binary files never get checked in, anywhere in the tree:
emmebank
PATHS_s*
errors
core_interface_log
usemacro
9999.db
fort.16
*.rp*
*.eml
*.emt
*.emu
*.emlk
*.xl*
*.emx
*.ind
*.emw
*.emp
*.ema
*.mtbx
input/



